section.works.block#works.section
    .container.section__container
        .section__header.section__header--fill.decor-lavender
            .section__header-top
                h2.section__title.text-uppercase.mb-0 Наші роботи
                .section__navigation.swiper-navigation
                    button(type="button" aria-label="Попередня категорія").works-button-prev.btn.btn-primary-outline.btn-small.btn-circle
                        span.sr-only Попередня категорія
                        svg.bi.bi-chevron-left.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                            path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                    button(type="button" aria-label="Наступна категорія").works-button-next.btn.btn-primary-outline.btn-small.btn-circle
                        span.sr-only Наступна категорія
                        svg.bi.bi-chevron-right.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                            path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .section__header-bottom
                .section__subtitle.h6.text-light.mb-0.text-primary ✦ Перегляньте результати нашої роботи
        .section__body.js-observe
            nav.categories-navigation(aria-label="Категорії послуг")
                .categories-navigation-swiper
                    .swiper-wrapper
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text М'які меблі
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Матраци
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Килими
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Автосалон
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Вікна
            .categories-content
                .swiper.categories-content-swiper.works-swiper(data-next-selector=".works-button-next" data-prev-selector=".works-button-prev")
                    .swiper-wrapper
                        .swiper-slide
                            article
                                h3.h2 Хімчистка м'яких меблів — фото виконаних робіт&nbsp;
                                    include cities-ua
                                .row.gallery.row-cols-2.row-cols-sm-2.row-cols-lg-4
                                    each num in [1,2,3,4]
                                        a.col.animate-fade-in(href=`img/furniture/furniture-img-${num}.webp` style=`--i: ${num-1};`)
                                            span.sr-only М'які меблі
                                            picture.work.card-leaf
                                                source(srcset=`img/furniture/furniture-img-${num}.webp`, type="image/webp")
                                                img.work__img(loading="lazy", src=`img/furniture/furniture-img-${num}.jpg`, alt="")

                        .swiper-slide
                            article
                                h3.h2 Хімчистка матраців — фото результатів чищення&nbsp;
                                    include cities-ua
                                .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                    each num in [1,2,3,4]
                                        a.col.animate-fade-in(href=`img/mattress/mattress-img-${num}.webp` style=`--i: ${num-1};`)
                                            span.sr-only Матраци
                                            picture.work.card-leaf
                                                source(srcset=`img/mattress/mattress-img-${num}.webp`, type="image/webp")
                                                img.work__img(loading="lazy", src=`img/mattress/mattress-img-${num}.jpg`, alt="")

                        .swiper-slide
                            article
                                h3.h2 Хімчистка килимів і ковроліну — фото після професійного чищення&nbsp;
                                    include cities-ua
                                .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                    each num in [1,2,3,4]
                                        a.col.animate-fade-in(href=`img/carpet/carpet-img-${num}.webp` style=`--i: ${num-1};`)
                                            span.sr-only Килими та ковролін
                                            picture.work.card-leaf
                                                source(srcset=`img/carpet/carpet-img-${num}.webp`, type="image/webp")
                                                img.work__img(loading="lazy", src=`img/carpet/carpet-img-${num}.jpg`, alt="")

                        .swiper-slide
                            article
                                h3.h2 Хімчистка салону автомобіля — фото чищення сидінь, дивана та стелі&nbsp;
                                    include cities-ua
                                .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                    each num in [1,2,3,4]
                                        a.col.animate-fade-in(href=`img/salon/salon-img-${num}.webp` style=`--i: ${num-1};`)
                                            span.sr-only Автосалон
                                            picture.work.card-leaf
                                                source(srcset=`img/salon/salon-img-${num}.webp`, type="image/webp")
                                                img.work__img(loading="lazy", src=`img/salon/salon-img-${num}.jpg`, alt="")

                        .swiper-slide
                            article
                                h3.h2 Миття вікон — видалення пилу, розводів, патьоків і слідів після дощу&nbsp;
                                    include cities-ua
                                .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                    each num in [1,2,3,4]
                                        a.col.animate-fade-in(href=`img/window/window-img-${num}.webp` style=`--i: ${num-1};`)
                                            span.sr-only Миття вікон
                                            picture.work.card-leaf
                                                source(srcset=`img/window/window-img-${num}.webp`, type="image/webp")
                                                img.work__img(loading="lazy", src=`img/window/window-img-${num}.jpg`, alt="")
