section.works.block#works.section
    .container.section__container
        .section__header.section__header--fill
            .section__header-top
                h2.section__title.text-uppercase.mb-0(data-aos="fade-right") Nasze realizacje
                .section__navigation.swiper-navigation(data-aos="fade-left")
                    button(type="button").works-button-prev.btn.btn-primary-outline.btn-small.btn-circle
                        svg.bi.bi-chevron-left.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                            path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                    button(type="button").works-button-next.btn.btn-primary-outline.btn-small.btn-circle
                        svg.bi.bi-chevron-right.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                            path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .section__header-bottom
                .section__subtitle.h6.text-light.mb-0.text-primary(data-aos="fade-in") ✦ Zobacz efekty naszej pracy
        .section__body(data-aos="fade-in" data-aos-delay="100")
            nav.categories-navigation
                .categories-navigation-swiper
                    //- .swiper-button-next.categories-button-arrow
                    //- .swiper-button-prev.categories-button-arrow
                    .swiper-wrapper
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Tapicerka meblowa
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Materace
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Dywany
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Tapicerka samochodowa
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Okna
                                //- span.category-btn__connect
            .categories-content
                .swiper.categories-content-swiper(data-next-selector=".works-button-next" data-prev-selector=".works-button-prev")
                    .swiper-wrapper
                        article.swiper-slide
                            h3.h5 Pranie tapicerki meblowej - zdjęcia realizacji sof, foteli i kanap
                                include cities
                            .row.gallery.row-cols-2.row-cols-sm-2.row-cols-lg-4
                                each num in [1,2,3,4]
                                    a.col(href=`img/furniture/furniture-img-${num}.webp`)
                                        span.sr-only Tapicerka meblowa
                                        picture.work.card-leaf
                                            source(srcset=`img/furniture/furniture-img-${num}.webp`, type="image/webp")
                                            img.work__img(loading="lazy", src=`img/furniture/furniture-img-${num}.jpg`, alt="")
                        article.swiper-slide
                            h3.h5 Pranie materacy – zdjęcia efektów czyszczenia materacy
                                include cities
                            .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                each num in [1,2,3,4]
                                    a.col(href=`img/mattress/mattress-img-${num}.webp`)
                                        span.sr-only Materace
                                        picture.work.work-leaf
                                            source(srcset=`img/mattress/mattress-img-${num}.webp`, type="image/webp")
                                            img.work__img(loading="lazy", src=`img/mattress/mattress-img-${num}.jpg`, alt="")
                        article.swiper-slide
                            h3.h5 Pranie dywanów i wykładzin – zdjęcia po chemicznym czyszczeniu dywanów i wykładzin
                                include cities
                            .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                each num in [1,2,3,4]
                                    a.col(href=`img/carpet/carpet-img-${num}.webp`)
                                        span.sr-only Dywany i wykładziny
                                        picture.work.work-leaf
                                            source(srcset=`img/carpet/carpet-img-${num}.webp`, type="image/webp")
                                            img.work__img(loading="lazy", src=`img/carpet/carpet-img-${num}.jpg`, alt="")
                        article.swiper-slide
                            h3.h5 Pranie tapicerki samochodowej – zdjęcia czyszczenia foteli, kanapy i podsufitki
                                include cities
                            .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                each num in [1,2,3,4]
                                    a.col(href=`img/salon/salon-img-${num}.webp`)
                                        span.sr-only Tapicerka samochodowa
                                        picture.work.work-leaf
                                            source(srcset=`img/salon/salon-img-${num}.webp`, type="image/webp")
                                            img.work__img(loading="lazy", src=`img/salon/salon-img-${num}.jpg`, alt="")
                        article.swiper-slide
                            h3.h5 Mycie okien z kurzu, smug, zacieków i osadów po deszczu
                                include cities
                            .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                                each num in [1,2,3,4]
                                    a.col(href=`img/window/window-img-${num}.webp`)
                                        span.sr-only Mycie okien
                                        picture.work.work-leaf
                                            source(srcset=`img/window/window-img-${num}.webp`, type="image/webp")
                                            img.work__img(loading="lazy", src=`img/window/window-img-${num}.jpg`, alt="")
